<div class="container">
  <div class="user-list" style="width: 25%">
    <ul>
      <li *ngFor="let user of Users" class="user-item" (click)="getUserConversation(user)">
        <div class="user-avatar">
          <img src="../../../assets/Images/user-avatar.png" alt="User Avatar" />
        </div>
        <div class="user-details">
          <div class="user-name">{{ user.name }}</div>
        </div>
      </li>
    </ul>
  </div>

  <div class="conversation-history" style="width: 75%">
    <div class="message-header" *ngIf="selectedUserId">
      <div class="header-content">{{ getUserById(selectedUserId)?.name }}</div>
    </div>
    <div class="message-container">
      <div *ngFor="let message of Msg" [ngClass]="{
        'message-left': message.userId === selectedUserId,
        'message-right': message.userId !== selectedUserId
      }">
        <div class="message-item" (contextmenu)="onMessageContextMenu($event, message)">
          <!-- Add the condition to check if the message is in 'message-right' class -->
          <div *ngIf="message.userId !== selectedUserId">
            <div *ngIf="isMessageBeingEdited(message.id)">
              <textarea
                [(ngModel)]="editedMessageContent"
                (keydown.enter)="acceptEdit(message.id, editedMessageContent)"
                (keydown.escape)="declineEdit()"
                class="message-input-edit"
                placeholder="Edit your message..."
              ></textarea>
              <button class="edit-button" (click)="acceptEdit(message.id, editedMessageContent)">
                Edit
              </button>
              <button class="context-button" (click)="onMessageDelete(message)">
                Delete
              </button>
              <button class="edit-button" (click)="declineEdit()">Cancel</button>
            </div>
            <div *ngIf="!isMessageBeingEdited(message.id)" class="message-content" (contextmenu)="editMessage(message.id)">
              {{ message.content }}
            </div>
          </div>
          <!-- If the message is in 'message-left' class, only show the message content -->
          <div *ngIf="message.userId === selectedUserId" class="message-content">
            {{ message.content }}
          </div>
        </div>
      </div>
    </div>
    
    <div class="send-message-container">
      <div class="input-group">
        <textarea [value]="newMessage" (input)="onMessageInput($event)" (keydown.enter)="sendMessage()"
          class="message-input" placeholder="Type your message..."></textarea>
        <button class="btn btn-primary" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>