<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center">
                    <fa-icon [icon]="faLock" class="fa-3x"></fa-icon>
                </div>
                <div class="text-center">
                    <h2>Welcome</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your Registration
                    details&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
                    <form [formGroup]="regisform" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Full Name:</label>
            <input type="text"  class="form-control" placeholder="Enter Your Name"
            formControlName="Name" [ngClass]="{'is-invalid':submitted && regisform.controls['Name'].errors}">  
            <div *ngIf="submitted && regisform.controls['Name'].errors" class="text-danger">
                <div *ngIf="submitted && regisform.controls['Name'].errors['required']">
                    Full Name is Required
                </div>
            </div>
            </div>
            
            <div class="form-group">
            <label>Email:</label>
            <input type="text" class="form-control" placeholder="Enter Your Email"
            formControlName="Email" [ngClass]="{'is-invalid':submitted && regisform.controls['Email'].errors}">
            <div *ngIf="submitted && regisform.controls['Email'].errors" class="text-danger">
                <div *ngIf="submitted && regisform.controls['Email'].errors['required']">
                    Email is Required
                </div>
                <div *ngIf="submitted && regisform.controls['Email'].errors['email']">
                    Email is not Valid
                </div>
            </div>
            </div>
            
            <div class="form-group">
                <label>Password:</label>
            <input type="password" class="form-control" placeholder="Enter Your password"
            formControlName="Password" [ngClass]="{'is-invalid':submitted && regisform.controls['Password'].errors}">
            <div *ngIf="submitted && regisform.controls['Password'].errors" class="text-danger">
                <div *ngIf="submitted && regisform.controls['Password'].errors['required']">
                    Password is Required
                </div>
                <div *ngIf="submitted && regisform.controls['Password'].errors['minlength']">
                    Password Should be atleast 5 Character
                </div>
            </div>
            </div>
        
            <div class="form-group">
            <label>PhoneNumber:</label>
            <input type="text" class="form-control" placeholder="Enter Your PhoneNumber"
            formControlName="PhoneNumber" [ngClass]="{'is-invalid':submitted && regisform.controls['PhoneNumber'].errors}" >
            <div *ngIf="submitted && regisform.controls['PhoneNumber'].errors" class="text-danger">
                <div *ngIf="submitted && regisform.controls['PhoneNumber'].errors['required']">
                    Phone No is Required
                </div>
            </div>
            </div>
            <div class="form-group">
            <br>
            <button class="btn btn-primary">Registration</button>
            </div>
        
        </form>
            </div>
            <div class="card-footer text-right">
                <small><a routerLink="../login">Already Have Account</a></small>
            </div>
        </div>
    </div>
</div>